twilio: # Twilio gateway configuration
  accountId: kuailekaba@gmail.com
  accountToken: Ta@LnCp7$xBw_RR
  numbers: # Numbers allocated in Twilio
    - # First number
    - # Second number
    - # Third number
    - # ...
    - # Nth number
  messagingServicesId: MG3333333333333333333333333333
  localDomain: signal.lxrtalk.com# Domain Twilio can connect back to for calls. Should be domain of your service.

push:
  queueSize: 200

cache: # Redis server configuration for cache cluster
  url: http://127.0.0.1:6379
  replicaUrls: [ "http://127.0.0.1:6379" ]

directory:
  redis: # Redis server configuration for directory cluster
    url: http://127.0.0.1:6379
    replicaUrls: [ "http://127.0.0.1:6379" ]
  client: # Configuration for interfacing with Contact Discovery Service cluster
    userAuthenticationTokenSharedSecret: abf156f3cf64496f9da2cabca68d95fe # hex-encoded secret shared with CDS used to generate auth tokens for Signal users
    userAuthenticationTokenUserIdSecret: abf156f3cf64496f9da2cabca68d95fe # hex-encoded secret shared among Signal-Servers to obscure user phone numbers from CDS
  sqs:
    accessKey: 333      # AWS SQS accessKey
    accessSecret: 444   # AWS SQS accessSecret
    queueUrl: https://sqs.ap-southeast-1.amazonaws.com/17093374723/fake       # AWS SQS queue url
  server:
    replicationUrl: http://127.0.0.1                # CDS replication endpoint base url
    replicationPassword: fake           # CDS replication endpoint password
    replicationCaCertificate: |   #fake
        -----BEGIN CERTIFICATE-----
        MIIFiTCCBHGgAwIBAgIIRaC6OlsW2IgwDQYJKoZIhvcNAQEFBQAwgZYxCzAJBgNV
        BAYTAlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMSwwKgYDVQQLDCNBcHBsZSBXb3Js
        ZHdpZGUgRGV2ZWxvcGVyIFJlbGF0aW9uczFEMEIGA1UEAww7QXBwbGUgV29ybGR3
        aWRlIERldmVsb3BlciBSZWxhdGlvbnMgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkw
        HhcNMjAwMzE3MTEyMjI2WhcNMjEwMzE3MTEyMjI2WjCBiDEiMCAGCgmSJomT8ixk
        AQEMEmNvbS5teHpmLnNpZ25hbGlvczFAMD4GA1UEAww3QXBwbGUgRGV2ZWxvcG1l
        bnQgSU9TIFB1c2ggU2VydmljZXM6IGNvbS5teHpmLnNpZ25hbGlvczETMBEGA1UE
        CwwKNzdMNjlNRDM4TDELMAkGA1UEBhMCQ04wggEiMA0GCSqGSIb3DQEBAQUAA4IB
        DwAwggEKAoIBAQDEoOfMnIQlV6Qi4/0iMXb9IfYkykqz9iKd/uEtSTt69VyUk6xv
        w9MrJHI7AdV4SVLzaAwdPvANJbkd7bQ7HXHs+A/il31DbYycZbPTASgKPg/O2lzE
        NC2FUG7/OwMiPG2v3WTez7r71kDWmjQcEsMTiW9pDaB0Q1KZWPOyiHB91kdEq5Lk
        gBXlpPvqUpTuudJpVI69wZH6KqbmfG7Ab697kPqSWXP9Jd4JaF0VXkLx7wC+Bk9Z
        khsGFGTya9wtRY20kmKfpWV5HBIzpL+BG80W9ayeL26IJav3cY+60UKdQcyFh6EO
        HgSUahhCSeVMeL96B8VQzlNlfUyYRmGmaRjRAgMBAAGjggHlMIIB4TAJBgNVHRME
        AjAAMB8GA1UdIwQYMBaAFIgnFwmpthhgi+zruvZHWcVSVKO3MIIBDwYDVR0gBIIB
        BjCCAQIwgf8GCSqGSIb3Y2QFATCB8TCBwwYIKwYBBQUHAgIwgbYMgbNSZWxpYW5j
        ZSBvbiB0aGlzIGNlcnRpZmljYXRlIGJ5IGFueSBwYXJ0eSBhc3N1bWVzIGFjY2Vw
        dGFuY2Ugb2YgdGhlIHRoZW4gYXBwbGljYWJsZSBzdGFuZGFyZCB0ZXJtcyBhbmQg
        Y29uZGl0aW9ucyBvZiB1c2UsIGNlcnRpZmljYXRlIHBvbGljeSBhbmQgY2VydGlm
        aWNhdGlvbiBwcmFjdGljZSBzdGF0ZW1lbnRzLjApBggrBgEFBQcCARYdaHR0cDov
        L3d3dy5hcHBsZS5jb20vYXBwbGVjYS8wEwYDVR0lBAwwCgYIKwYBBQUHAwIwTQYD
        VR0fBEYwRDBCoECgPoY8aHR0cDovL2RldmVsb3Blci5hcHBsZS5jb20vY2VydGlm
        aWNhdGlvbmF1dGhvcml0eS93d2RyY2EuY3JsMB0GA1UdDgQWBBR7eizUV3NuLXm9
        CVI4HdkBL9dkEDALBgNVHQ8EBAMCB4AwEAYKKoZIhvdjZAYDAQQCBQAwDQYJKoZI
        hvcNAQEFBQADggEBAB029wy1hK8Gscbll+RTiZ31UWlqOTds3Rnc1pYljjTVWsb7
        pcaPuL4DrGeNNUk/cUsPHuj5SaMcxO+kx7byr7zvXgi6seJezytt8tkFrJYm715c
        6cRLC9gn6RE/yAUZ4q2wu+eV3/g0Et2wmlCkldPbOI/nJQXOT0xCjGTEe1A3dhuP
        5onxjmNtiBvYYL285OFuwyHuxcdUAm9XdIdyalYCRVPFS++sai70apZxbv4mEfXI
        ABWd1dq4whuma5nDhkMVDDPX28xh99Ntc9ztRQikJDoJn/NhngI5ZFLILxrTRQSl
        p7zTAa69CmztYV0gnuEBQ/PMHaF00j6G/tVPeBo=
        -----END CERTIFICATE-----

messageCache:
  redis: # Redis server configuration for message store cache
    url: http://127.0.0.1:6379
    replicaUrls: [ "http://127.0.0.1:6379" ]

messageStore: # Postgresql database configuration for message store
  driverClass: org.postgresql.Driver
  user: postgres
  password: srh;MG#sV3S;M9!
  url: jdbc:postgresql://127.0.0.1:5432/messagedb

awsAttachments: # AWS S3 configuration
  accessKey: 1
  accessSecret: 1
  bucket: 1
  region: 1

gcpAttachments: # GCP Storage configuration
  domain: 1
  email: 1
  maxSizeInBytes: 1
  pathPrefix: /
  rsaSigningKey: |
    -----BEGIN PRIVATE KEY-----
    MIIJQgIBADANBgkqhkiG9w0BAQEFAASCCSwwggkoAgEAAoICAQC+rgh43atIrUWk
    vt7dwVIBn5cnU8snP1qq7v1sErTsTOnCvjMVGAYFAyNDLicL2T74xlnXLl+jy8mi
    RvEjFN7VIG6enwJaTUNkPKiVgvC9y9NUiVBBtcIxjYCWJsgVmHl8qY65Ev3Rz5av
    7U/cF5WqHCaWrnOLWmiRt8QElyrrZd2Vqen6i+tR32rXg3d/qimROutQn6c+kTJA
    3SmxtN2hlQKp7+f50l87lAQJwlIU9EVISZiMSASaRNUJFrRKRRfcATrWvRQvSmkl
    GWRElyK5UkGFwweA46cTLgv9TMqM9KDeR18+aBPN/JDxnMy1A4H67OIqH6fyTd91
    bLUMmyEi46rHwjMDhMNrQ3/17562Mw5VBN4wex+YiakwIi2SNacxiJuULHYglB49
    JZ9cKrZWoXd1TCRZRLNWhADHtai0CELbrP2stB6DXDXzR++VOwRtXXrSZTlRSEtz
    5u6yRngBBHNCcdjXlaWC52822lWo3dW95igUzcpsUlMZXbsmIJF9/To+Ty+22GGL
    PCxnuJcCAw5vhKkSaq/kd2Ngqxt1+cNUxx5HMmAcIuRI8w5dpVh58vdPuACwYbQr
    V+mgUoc37JExlwXcKZ2cb23Ho5yKFHO4xee8jwbcnr7OnkZJekxultk07m4iX2NY
    FWSD2rxL7tQ3+77wMMdZgCrZ712TqwIDAQABAoICAFT9RyNwUjcbnC4ZMUcQMtgs
    ZPgPfj5pG6WSznwMPn4QriSyGByvz4cOZfo8qQS7+ThzWHnz3ocofyAIlNR5KfU+
    9m9XGnpbc81KyC2T5nACWJiWd6JCPGNP2d+TO518j7HD9ayCTYXmDBkwImdMT9Y5
    o+2HplKXooJIsWMGagfwKHrb+EFHekTM21dh7rKFiu+Dnn0aHDZkC00kBsCBiEPM
    IhrSpsgQP4hTqhUbevCCDBtzSj5En2CPi5D4gLWV5FOYbLxoHIYTmZgCoFF+N+j4
    Q+I2ErMdRUvkO03Um3eGVemdUFOFmkY26/f1Vrzb6mSIjyoNYBM9KHuzT2NmBbc9
    MOazexkfRvV5hSTKKmXRH1wWCkk0T1qarGsvaHl3RGr83sMo9u6VE6cWEMoKQkVx
    B+enxrIsqxpTvRzWxYV6M19LL0LveK+ddc9VSozTqrYCuIYDxzY1zatruyg+O7wK
    kfezsXtxiK38C3Zk6K4CT5iqif/L1NBBVaQLZ12/2dnsPC2tonvwrqCE2a6ab5sW
    aq50peP92NHZsKbWcQvzWcCqjUMA/sijnxqgfSe5McBKYweNKhs/Toa7FAtHQ2c7
    wPwr56f+6u5kih5FToo+YF1UOrkutYV74aIXLTFbWepVmCLJfnsj+1XmxrwxrZJQ
    TtuOCu/e+q/c7zmyM5NRAoIBAQDnIC3gngk3lssXcF7V/8iKTrFUeHF8AnEr28r/
    RPQeq7NrFbIuio+RX3BguKduomwof1VJ6AYkxWwmrfgrcgn8XWGoZqJKYXcCp4eE
    VHp8lJcuYxoAWOabmTw1O7OhNROGIgIS2W3NhbQTq4nj5LAHel15V3pJeWpVW5/k
    D+wsQOr6WmpvuX4gKCcaUdpJT36SKJaHWyT0w8RFQNVsRI2+irGJIGgmOfRVZ/uv
    2DxaBqQDf8OOWWl6u0rZBugtE88OZjzou9nSFzVlH3iKUvTDssPlTbUAebv1lPLe
    Zt6XUwfFofIKN1b3T+1T9rMWyoHlUN1DxiRIRfwc8rGqmFh5AoIBAQDTM4QVC3xR
    d8cSDZ/aOMBIyH9wObknlI/FA37Q3V/pqCw5QP+2XxzWYXs06+SsH/pA527FoXfp
    fG7LyaAjLJMs4n4bErb1HyHWYm2qOhRD+asJLzfp7U7yG0+0GG1qteXbgwTQq+/F
    i+5w014ntfqki/1iSJ8F4ByIT/fgH4MfISe7hvRYMNeUeLm7qnGigsUStNCtsNkW
    SNCJeIVqrVh+DocAoMbvmS8QeD3ya3BDD1ub2TrHuIDGX2wN4MwC3OC87vfT913/
    Z8mqB+SxiMG/rk0Lgkak0GEkNx5JPj8E2BEaRFejf+fS1SIwrhtt9vW+TyrBT04R
    ubexfQAXbsxDAoIBAB/rbsqVqNo3hibfiwltAOoxAgaTd8DTqYOQIFHu2PQfbHD+
    lxQcaMV/88o31k/OOLfDFilV1PthFJWm8x406rIix2j1e7ZgDYqdTnb1H9FyyApM
    /3tKy9ZzbEBB1YYPCXo92iF2S9bVf1A0IaAKplDyElS+wxHApfHR7JwXottdv9YB
    hK+XY5bXVMcqxMXZJ7bRyjA5Yzo2izWxRYhlU1ocV3aDtj6JRHhDGxxm9bbNMfuV
    upE/QfUERssATDJliPQJJKJTxzpfoC0uEnywBkO8vZc+ix/csBuzjXMvq9AkVG9z
    9TR5/hW7wSAWcxdTsmrUJyrEA6DDoZTx452W2qkCggEBAJGG/84YefMQ24TfCnSt
    giEktls4CxLw1Rflzq5Qu9Qe40oYNZsOcqptxR20JX9NEX1DexqGpj+mVBnrtoJG
    JqtY7ZfuD09bwk8cx3/yQSCNmoLbnGV99VXx57uq0UokSFw3LUw0DSVLxGLN4iTu
    yeQz6cadT6YWxNJQd/ZhAFKk3+HhneBe100g2qorSd22yeCX4uqr3wnx5m+zMgtN
    oppJnFCceDeEj9+DWvv9d/9dR7xdtJkF0wXdnnD5otmeJOVKrE3MN2LTuyuEANsr
    5oUTr1bsz4ylYSo5KI9Dat0FnNNCoDiy26R04/gzIAdnkfEuT8GfyaWBGMgd38BF
    wk0CggEAOI9wuJOjLi8gjut6qZlbO7MwxoeKlGTC6CxWvezqflkQo4pce6YP7nsg
    Wm1TbEyK5jY76WFF8ZBujmEKM7F4lcTFtWKPZlx6qealxAw2lFGLKb777Paxa/Vt
    IBNTnIwTEcBWNTPPHNxWNWvtXn9Sep2H7xObqJvX3PK5Uz58Vy8+0DGnNKiwcgjQ
    hsfPOCgzyOdJKAseieQ+Hw1Fozxdu0IjawlHCVm4l4My9eZKWymqE7QUdHexbJ9n
    k/kNAy/T4xksy0VjcqQQYDXaPKiuLM6m9IYU3UuS7cOn8kEE3xbkSYbdM5d/qNfy
    5ljq5ocMKKQUK+LSsScM0NWzBwBkkA==
    -----END PRIVATE KEY-----

abuseDatabase: # Postgresql database configuration
  driverClass: org.postgresql.Driver
  user: postgres
  password: srh;MG#sV3S;M9!
  url: jdbc:postgresql://127.0.0.1:5432/abusedb

accountsDatabase: # Postgresql database configuration
  driverClass: org.postgresql.Driver
  user: postgres
  password: srh;MG#sV3S;M9!
  url: jdbc:postgresql://127.0.0.1:5432/accountsdb

apn: # Apple Push Notifications configuration
  bundleId: 1
  pushCertificate: |
      -----BEGIN CERTIFICATE-----
      MIIFiTCCBHGgAwIBAgIIRaC6OlsW2IgwDQYJKoZIhvcNAQEFBQAwgZYxCzAJBgNV
      BAYTAlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMSwwKgYDVQQLDCNBcHBsZSBXb3Js
      ZHdpZGUgRGV2ZWxvcGVyIFJlbGF0aW9uczFEMEIGA1UEAww7QXBwbGUgV29ybGR3
      aWRlIERldmVsb3BlciBSZWxhdGlvbnMgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkw
      HhcNMjAwMzE3MTEyMjI2WhcNMjEwMzE3MTEyMjI2WjCBiDEiMCAGCgmSJomT8ixk
      AQEMEmNvbS5teHpmLnNpZ25hbGlvczFAMD4GA1UEAww3QXBwbGUgRGV2ZWxvcG1l
      bnQgSU9TIFB1c2ggU2VydmljZXM6IGNvbS5teHpmLnNpZ25hbGlvczETMBEGA1UE
      CwwKNzdMNjlNRDM4TDELMAkGA1UEBhMCQ04wggEiMA0GCSqGSIb3DQEBAQUAA4IB
      DwAwggEKAoIBAQDEoOfMnIQlV6Qi4/0iMXb9IfYkykqz9iKd/uEtSTt69VyUk6xv
      w9MrJHI7AdV4SVLzaAwdPvANJbkd7bQ7HXHs+A/il31DbYycZbPTASgKPg/O2lzE
      NC2FUG7/OwMiPG2v3WTez7r71kDWmjQcEsMTiW9pDaB0Q1KZWPOyiHB91kdEq5Lk
      gBXlpPvqUpTuudJpVI69wZH6KqbmfG7Ab697kPqSWXP9Jd4JaF0VXkLx7wC+Bk9Z
      khsGFGTya9wtRY20kmKfpWV5HBIzpL+BG80W9ayeL26IJav3cY+60UKdQcyFh6EO
      HgSUahhCSeVMeL96B8VQzlNlfUyYRmGmaRjRAgMBAAGjggHlMIIB4TAJBgNVHRME
      AjAAMB8GA1UdIwQYMBaAFIgnFwmpthhgi+zruvZHWcVSVKO3MIIBDwYDVR0gBIIB
      BjCCAQIwgf8GCSqGSIb3Y2QFATCB8TCBwwYIKwYBBQUHAgIwgbYMgbNSZWxpYW5j
      ZSBvbiB0aGlzIGNlcnRpZmljYXRlIGJ5IGFueSBwYXJ0eSBhc3N1bWVzIGFjY2Vw
      dGFuY2Ugb2YgdGhlIHRoZW4gYXBwbGljYWJsZSBzdGFuZGFyZCB0ZXJtcyBhbmQg
      Y29uZGl0aW9ucyBvZiB1c2UsIGNlcnRpZmljYXRlIHBvbGljeSBhbmQgY2VydGlm
      aWNhdGlvbiBwcmFjdGljZSBzdGF0ZW1lbnRzLjApBggrBgEFBQcCARYdaHR0cDov
      L3d3dy5hcHBsZS5jb20vYXBwbGVjYS8wEwYDVR0lBAwwCgYIKwYBBQUHAwIwTQYD
      VR0fBEYwRDBCoECgPoY8aHR0cDovL2RldmVsb3Blci5hcHBsZS5jb20vY2VydGlm
      aWNhdGlvbmF1dGhvcml0eS93d2RyY2EuY3JsMB0GA1UdDgQWBBR7eizUV3NuLXm9
      CVI4HdkBL9dkEDALBgNVHQ8EBAMCB4AwEAYKKoZIhvdjZAYDAQQCBQAwDQYJKoZI
      hvcNAQEFBQADggEBAB029wy1hK8Gscbll+RTiZ31UWlqOTds3Rnc1pYljjTVWsb7
      pcaPuL4DrGeNNUk/cUsPHuj5SaMcxO+kx7byr7zvXgi6seJezytt8tkFrJYm715c
      6cRLC9gn6RE/yAUZ4q2wu+eV3/g0Et2wmlCkldPbOI/nJQXOT0xCjGTEe1A3dhuP
      5onxjmNtiBvYYL285OFuwyHuxcdUAm9XdIdyalYCRVPFS++sai70apZxbv4mEfXI
      ABWd1dq4whuma5nDhkMVDDPX28xh99Ntc9ztRQikJDoJn/NhngI5ZFLILxrTRQSl
      p7zTAa69CmztYV0gnuEBQ/PMHaF00j6G/tVPeBo=
      -----END CERTIFICATE-----
  pushKey: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIEowIBAAKCAQEAqGyrTpG3gSTQkNLWHWxfSm+x9HXT4MyuFW+wchztkpk9UKex
    too+sKtu4ZMNuIzHAQ24bCJErYwB5L2uBBvyKSjVGfKrfZ6y2b74D4qqRJKFOKYv
    iGtAdqiS3PbATBftGngUxWJl6QbCp0HJ8NKxqYXqFzKt4jQBqRqdfCQkGkkUztpy
    8ORASae7Paop7p9BixAUpro8MFf6pMH6sXIKISPZCPorSsibLx+z61mv1QSM5mwV
    tqMSFpI9SFECZGMKXHGBiVbc+5VfMQO31Prg1/4wJUjR29+jczOKvFqajIzNeZpo
    nrPI7B9VdTPqaqCJzkwMDE/XGnr1NE1FbYHkuQIDAQABAoIBAA6iEmgrJORljHFo
    wA2iYs0W00FIE3aOkflu0Me5V7LK+ZbOWxRfAn9bBbE3k5ObN5cR2BodCBaD+Y4k
    JMBapTmKQKmWeevaI/PjMa43//8hM83uMmcJ2nn0v33POnniAkmwcS2NFQmf+r2J
    a8Aurhzqc6I8Vvs2RYapt1EX2sMlvjiaCRaGjlj2lBUbrteoOQkTB9148xhUM7Vo
    hSvdbc6eVhjDiBxr3UKpp4XTTaebhmB2WhaVmM5liJ9dWO9YzpMfTxqr7Y56Y90b
    fFM/2lYnTYCYNN9sbUBDl5dvmXIOwl9WHFsXwCDkoXNQ7KJ8vsn1pMNt2ITUsCsa
    U7A89wECgYEA2UX8pcjVHfcgOjGmg9/kevzW9qsnNrghxGtDA1SmkchcF71YqaNR
    TEsv96xSoy0AAVHOe/xOVe7I6jtvN6Uso6og/MVU6b/awrFsOzRHjJAMAIEp7ccQ
    ScSuGyqP0p0PGbtw/QUbC4gYIX/taQ3QchTlUF5mmw/mjg5uss2+aWkCgYEAxnG+
    4hUaJ6Yz1QuqRWyOrx5FTcwPcazBlbx/es6bBLVkAKOWrURgTZuZrJ+nTxDPflzs
    QUuQjwQpwwydFIoU9GmTOn5GGUA6MPpFU4BpWCWz+jvT1RTXaagCVxC0WfrPx25K
    tEpffww7nERMLCVFSjola1VQMcKXDjorPP7eZtECgYADuRpKMPXN7KUluiITUmvU
    265HTcl/O4qAliHw1auBBgDl+z2gsoa7GvK4eMB1wVilrSQvpbQl7tCMivYt6uun
    5ktoaW06ECqMeYPUQ+IR+4npHE1+oJGb4f3lw0XxovVWSIr4GvVKrktTj6Ce0zjG
    K6t+RA/YCl62AnNNJw9jOQKBgQCo6yXa+K981KMGVJmp4tBKDHBd2rfCwZU/SmcR
    OFEIXwcy7A1UjAGVzj+vi281hE+7dom8wv/YXWjXGSOU2j0gF8Y1Ykt1LxDZpA/j
    FkmVuPJMrSSSGt2KmHL1fcinVzIKxr1cXnqPgPA1AoX8hfVHS9uSU9qhoMxIVgd8
    Mk9KIQKBgExZRkE8ariKNkB1mIdnYjJjRzfzMwS03JVjHXvU+AGBXauLMi/eq9N+
    iaQfdHgjJwAavMdQ3mZkCZ+McmqanqWaIRzNTpbQB9vTvnL+2uVf9Bz5BVk7msX+
    eqDhtWRnO3WfGVCosaR6UPyBbHqgGVafeX4NVETo5CkfAePwRHM2
    -----END RSA PRIVATE KEY-----

gcm: # GCM Configuration
  senderId: 1
  apiKey: 1
accountDatabaseCrawler:
    chunkSize: 1000
    chunkIntervalMs: 80000000

cdn:
    accessKey: AKIAAAAAABBBBBCCCCCCC
    accessSecret: QhABCCCCCCCCCCCCCDDDDDDDDDDDDDDDD
    bucket: fake
    region: ap-southeast-1

voiceVerification:
    url: http://127.0.0.1 #fake
    locales: [ "en-US" ]  #fake

recaptcha:
    secret: 6LfFFFFFFAAAAAAKKKKKKEEEEEEgJ7kX-pSL

storageService:
    userAuthenticationTokenSharedSecret: 112233445566 #fake

backupService:
    userAuthenticationTokenSharedSecret: 778899AABBCC #fake

turn:
    secret: turnsecret
    uris:
        - turn:127.0.0.1:3478?transport=udp
pushScheduler:
    url: http://127.0.0.1:6379
    replicaUrls: [ "http://127.0.0.1:6379" ]
pubsub: 
    url: http://127.0.0.1:6379
    replicaUrls: [ "http://127.0.0.1:6379" ]
remoteConfig:
  authorizedTokens: []
unidentifiedDelivery:
  certificate: CiUIARIhBRPXsbgAzCdKBTHUqU05uFQe99LY2wz03zzDsjfOEf0UEkCiOVNS0Gz14cRQAoVhKScEPpmQvbddWP50g6uy7VZKnaagnxSZMyECNSisEF9XAz/uMwOUkP7tc2sGOE7oMTED
  privateKey:  UMsXVnVox5HSEbhkpgYq5Ez0JCQTnzQkjeqDDqcyWXg=
  expiresDays: 10
zkConfig: 
  serverSecret: JyH42NTp10znCdBYdvQw9wGuXTk0zjh1PxwxFPlbOAjp4MYv7Lw5FkCNJyidCjknLr1QPB9MD4SHn1t8VtV3DFYAd16B+vQvtHvwdG6N1yw4axE13fOjnK88412ibz5x+JBjg4DlxIkuTQIvYwNqanG3mBNOwxdVsSIUeJeiuggGN3QiKjXY1ON7AOVdlqBVl2oBsayuQXmPxQd02zGVCMnOkeExqF7n2yZjLKcJVStbSLJUYu6JLkUEayEFEKYIrTEbYXmqJ+LGCgj2yTL0XqdrY8RINIWiW6uNVH2azwFM22tTMUppcI9FbeCjeCtZXi68ZiIz923ghAd1m5PzCSZ2UhcYCJvjJzwAOV6YZl7bUlE6BGkloZPfnc+FH4sAoi79doKTj+FAK4geClr3fPZEh8igLt4QxGEpJrn1bwQLgrJWBqwXZlAYZ31w2IaHauPclyNm5cgA/76S1jvtC24cOSMNisn1LK0qLuSH7ucwPj9tYuKUn0gMe7zZf9Fo9h+Zpu03LHhXl34ECGZt/3c8xMlpHwMDuxyt4vTdJR1FT/IDQL6gJT+gVV+TbOzb+q4E3JjmQqpmOvscr8tvCQqz3340pRiW353GPVRJrPgikM0VEgRL1Pzcg5Nc5lMKpplO/sCEylBGltp3740MtacXzDWMi1CkXpFe0ARqrhedb6NLlwAVkxV+cdYJtJA0UGhR0fuI172mZPhtC/VJDLxQQOOdK+ZQ88bIILDZm9zdek8FEtRk2iXTD4tVKvIJRcnq3pn5RdO21pVmWfKtQ1tNT7l5JqAAUomxjK8aIgygFlv58gAtNpeDa3kVSDsHJHiHy01psIHsaHLvM1TQA7xd/3vHpYFOgLHQGXqcYg2wuWQ1Ld0j9uUM+8yFVEQN4LRY4KeKtnpa/v1o4eNA+uIm/CNXcbXVifS71ch+uA5b/1fBpgBsmS0easpeQZB2PLLEJFtvJbL2ln2Uc6ZrBtpvXGCNEEATIbuJscTlBqMrv9CC21A6iPBRQZAf0WkFmviwr3C06gyJ8tiwriYWSTivH5LgJcIL24F3vUf2J1ke5dO6ZIjJxPm9MEl4YQqnjHESFsuv1BXzQRsn9lvwEZZygL/292ktQqaZ7RovScLM9AgZbNxkjeuhD9dbxIEI8BMyEnTr82yZnXE5MSEJy38gVloVHm4L+PLHJZwcXVQ
  serverPublic: bhw5Iw2KyfUsrSou5Ifu5zA+P21i4pSfSAx7vNl/0Wj2H5mm7TcseFeXfgQIZm3/dzzEyWkfAwO7HK3i9N0lHZr4sK9wtOoMifLYsK4mFkk4rx+S4CXCC9uBd71H9idZHuXTumSIycT5vTBJeGEKp4xxEhbLr9QV80EbJ/Zb8BHwEzISdOvzbJmdcTkxIQnLfyBWWhUebgv48sclnBxdVA
  enabled: false

