twilio: # Twilio gateway configuration
  accountId: AC854183d264ba2198f8051790c58e1a25
  accountToken: 0abfc7b56b7840b5c042a31279bfbf1d
  numbers: [+12093158679]
  messagingServicesId: ''
  localDomain: signal.lxrtalk.com # Domain Twilio can connect back to for calls. Should be domain of your service.
#   FRIENDLY NAME
# myfirstKey

# SID
# SK8bbb032da59babce73856c0f820b94d5

# KEY TYPE
# Standard

# SECRET
# vNvMHx1TLZkSOS9H7L8GxrmGrmJfRfA3

push:
  queueSize: 200

cache: # Redis server configuration for cache cluster
  url: http://127.0.0.1:6379
  replicaUrls: [ "http://127.0.0.1:6379" ]

directory:
  redis: # Redis server configuration for directory cluster
    url: http://127.0.0.1:6379
    replicaUrls: [ "http://127.0.0.1:6379" ]
  client: # Configuration for interfacing with Contact Discovery Service cluster
    userAuthenticationTokenSharedSecret: abf156f3cf64496f9da2cabca68d95fe # hex-encoded secret shared with CDS used to generate auth tokens for Signal users
    userAuthenticationTokenUserIdSecret: abf156f3cf64496f9da2cabca68d95fe # hex-encoded secret shared among Signal-Servers to obscure user phone numbers from CDS
  sqs:
    accessKey: 333      # AWS SQS accessKey
    accessSecret: 444   # AWS SQS accessSecret
    queueUrl: https://sqs.ap-southeast-1.amazonaws.com/17093374723/fake       # AWS SQS queue url
  server:
    replicationUrl: http://127.0.0.1                # CDS replication endpoint base url
    replicationPassword: fake           # CDS replication endpoint password
    replicationCaCertificate: |   #fake
        -----BEGIN CERTIFICATE-----
        MIIFiTCCBHGgAwIBAgIIRaC6OlsW2IgwDQYJKoZIhvcNAQEFBQAwgZYxCzAJBgNV
        BAYTAlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMSwwKgYDVQQLDCNBcHBsZSBXb3Js
        ZHdpZGUgRGV2ZWxvcGVyIFJlbGF0aW9uczFEMEIGA1UEAww7QXBwbGUgV29ybGR3
        aWRlIERldmVsb3BlciBSZWxhdGlvbnMgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkw
        HhcNMjAwMzE3MTEyMjI2WhcNMjEwMzE3MTEyMjI2WjCBiDEiMCAGCgmSJomT8ixk
        AQEMEmNvbS5teHpmLnNpZ25hbGlvczFAMD4GA1UEAww3QXBwbGUgRGV2ZWxvcG1l
        bnQgSU9TIFB1c2ggU2VydmljZXM6IGNvbS5teHpmLnNpZ25hbGlvczETMBEGA1UE
        CwwKNzdMNjlNRDM4TDELMAkGA1UEBhMCQ04wggEiMA0GCSqGSIb3DQEBAQUAA4IB
        DwAwggEKAoIBAQDEoOfMnIQlV6Qi4/0iMXb9IfYkykqz9iKd/uEtSTt69VyUk6xv
        w9MrJHI7AdV4SVLzaAwdPvANJbkd7bQ7HXHs+A/il31DbYycZbPTASgKPg/O2lzE
        NC2FUG7/OwMiPG2v3WTez7r71kDWmjQcEsMTiW9pDaB0Q1KZWPOyiHB91kdEq5Lk
        gBXlpPvqUpTuudJpVI69wZH6KqbmfG7Ab697kPqSWXP9Jd4JaF0VXkLx7wC+Bk9Z
        khsGFGTya9wtRY20kmKfpWV5HBIzpL+BG80W9ayeL26IJav3cY+60UKdQcyFh6EO
        HgSUahhCSeVMeL96B8VQzlNlfUyYRmGmaRjRAgMBAAGjggHlMIIB4TAJBgNVHRME
        AjAAMB8GA1UdIwQYMBaAFIgnFwmpthhgi+zruvZHWcVSVKO3MIIBDwYDVR0gBIIB
        BjCCAQIwgf8GCSqGSIb3Y2QFATCB8TCBwwYIKwYBBQUHAgIwgbYMgbNSZWxpYW5j
        ZSBvbiB0aGlzIGNlcnRpZmljYXRlIGJ5IGFueSBwYXJ0eSBhc3N1bWVzIGFjY2Vw
        dGFuY2Ugb2YgdGhlIHRoZW4gYXBwbGljYWJsZSBzdGFuZGFyZCB0ZXJtcyBhbmQg
        Y29uZGl0aW9ucyBvZiB1c2UsIGNlcnRpZmljYXRlIHBvbGljeSBhbmQgY2VydGlm
        aWNhdGlvbiBwcmFjdGljZSBzdGF0ZW1lbnRzLjApBggrBgEFBQcCARYdaHR0cDov
        L3d3dy5hcHBsZS5jb20vYXBwbGVjYS8wEwYDVR0lBAwwCgYIKwYBBQUHAwIwTQYD
        VR0fBEYwRDBCoECgPoY8aHR0cDovL2RldmVsb3Blci5hcHBsZS5jb20vY2VydGlm
        aWNhdGlvbmF1dGhvcml0eS93d2RyY2EuY3JsMB0GA1UdDgQWBBR7eizUV3NuLXm9
        CVI4HdkBL9dkEDALBgNVHQ8EBAMCB4AwEAYKKoZIhvdjZAYDAQQCBQAwDQYJKoZI
        hvcNAQEFBQADggEBAB029wy1hK8Gscbll+RTiZ31UWlqOTds3Rnc1pYljjTVWsb7
        pcaPuL4DrGeNNUk/cUsPHuj5SaMcxO+kx7byr7zvXgi6seJezytt8tkFrJYm715c
        6cRLC9gn6RE/yAUZ4q2wu+eV3/g0Et2wmlCkldPbOI/nJQXOT0xCjGTEe1A3dhuP
        5onxjmNtiBvYYL285OFuwyHuxcdUAm9XdIdyalYCRVPFS++sai70apZxbv4mEfXI
        ABWd1dq4whuma5nDhkMVDDPX28xh99Ntc9ztRQikJDoJn/NhngI5ZFLILxrTRQSl
        p7zTAa69CmztYV0gnuEBQ/PMHaF00j6G/tVPeBo=
        -----END CERTIFICATE-----

messageCache:
  redis: # Redis server configuration for message store cache
    url: http://127.0.0.1:6379
    replicaUrls: [ "http://127.0.0.1:6379" ]

messageStore: # Postgresql database configuration for message store
  driverClass: org.postgresql.Driver
  user: postgres
  password: srh;MG#sV3S;M9!
  url: jdbc:postgresql://127.0.0.1:5432/messagedb

awsAttachments: # AWS S3 configuration
    accessKey: AKIAUHWNR6PWT6ZAPWV6
    accessSecret: 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
    bucket: signallxrtalk
    region: ap-northeast-1

gcpAttachments: # GCP Storage configuration
  domain: 1
  email: 1
  maxSizeInBytes: 1
  pathPrefix: /
  rsaSigningKey: |
    -----BEGIN PRIVATE KEY-----
    MIIJQgIBADANBgkqhkiG9w0BAQEFAASCCSwwggkoAgEAAoICAQC+rgh43atIrUWk
    vt7dwVIBn5cnU8snP1qq7v1sErTsTOnCvjMVGAYFAyNDLicL2T74xlnXLl+jy8mi
    RvEjFN7VIG6enwJaTUNkPKiVgvC9y9NUiVBBtcIxjYCWJsgVmHl8qY65Ev3Rz5av
    7U/cF5WqHCaWrnOLWmiRt8QElyrrZd2Vqen6i+tR32rXg3d/qimROutQn6c+kTJA
    3SmxtN2hlQKp7+f50l87lAQJwlIU9EVISZiMSASaRNUJFrRKRRfcATrWvRQvSmkl
    GWRElyK5UkGFwweA46cTLgv9TMqM9KDeR18+aBPN/JDxnMy1A4H67OIqH6fyTd91
    bLUMmyEi46rHwjMDhMNrQ3/17562Mw5VBN4wex+YiakwIi2SNacxiJuULHYglB49
    JZ9cKrZWoXd1TCRZRLNWhADHtai0CELbrP2stB6DXDXzR++VOwRtXXrSZTlRSEtz
    5u6yRngBBHNCcdjXlaWC52822lWo3dW95igUzcpsUlMZXbsmIJF9/To+Ty+22GGL
    PCxnuJcCAw5vhKkSaq/kd2Ngqxt1+cNUxx5HMmAcIuRI8w5dpVh58vdPuACwYbQr
    V+mgUoc37JExlwXcKZ2cb23Ho5yKFHO4xee8jwbcnr7OnkZJekxultk07m4iX2NY
    FWSD2rxL7tQ3+77wMMdZgCrZ712TqwIDAQABAoICAFT9RyNwUjcbnC4ZMUcQMtgs
    ZPgPfj5pG6WSznwMPn4QriSyGByvz4cOZfo8qQS7+ThzWHnz3ocofyAIlNR5KfU+
    9m9XGnpbc81KyC2T5nACWJiWd6JCPGNP2d+TO518j7HD9ayCTYXmDBkwImdMT9Y5
    o+2HplKXooJIsWMGagfwKHrb+EFHekTM21dh7rKFiu+Dnn0aHDZkC00kBsCBiEPM
    IhrSpsgQP4hTqhUbevCCDBtzSj5En2CPi5D4gLWV5FOYbLxoHIYTmZgCoFF+N+j4
    Q+I2ErMdRUvkO03Um3eGVemdUFOFmkY26/f1Vrzb6mSIjyoNYBM9KHuzT2NmBbc9
    MOazexkfRvV5hSTKKmXRH1wWCkk0T1qarGsvaHl3RGr83sMo9u6VE6cWEMoKQkVx
    B+enxrIsqxpTvRzWxYV6M19LL0LveK+ddc9VSozTqrYCuIYDxzY1zatruyg+O7wK
    kfezsXtxiK38C3Zk6K4CT5iqif/L1NBBVaQLZ12/2dnsPC2tonvwrqCE2a6ab5sW
    aq50peP92NHZsKbWcQvzWcCqjUMA/sijnxqgfSe5McBKYweNKhs/Toa7FAtHQ2c7
    wPwr56f+6u5kih5FToo+YF1UOrkutYV74aIXLTFbWepVmCLJfnsj+1XmxrwxrZJQ
    TtuOCu/e+q/c7zmyM5NRAoIBAQDnIC3gngk3lssXcF7V/8iKTrFUeHF8AnEr28r/
    RPQeq7NrFbIuio+RX3BguKduomwof1VJ6AYkxWwmrfgrcgn8XWGoZqJKYXcCp4eE
    VHp8lJcuYxoAWOabmTw1O7OhNROGIgIS2W3NhbQTq4nj5LAHel15V3pJeWpVW5/k
    D+wsQOr6WmpvuX4gKCcaUdpJT36SKJaHWyT0w8RFQNVsRI2+irGJIGgmOfRVZ/uv
    2DxaBqQDf8OOWWl6u0rZBugtE88OZjzou9nSFzVlH3iKUvTDssPlTbUAebv1lPLe
    Zt6XUwfFofIKN1b3T+1T9rMWyoHlUN1DxiRIRfwc8rGqmFh5AoIBAQDTM4QVC3xR
    d8cSDZ/aOMBIyH9wObknlI/FA37Q3V/pqCw5QP+2XxzWYXs06+SsH/pA527FoXfp
    fG7LyaAjLJMs4n4bErb1HyHWYm2qOhRD+asJLzfp7U7yG0+0GG1qteXbgwTQq+/F
    i+5w014ntfqki/1iSJ8F4ByIT/fgH4MfISe7hvRYMNeUeLm7qnGigsUStNCtsNkW
    SNCJeIVqrVh+DocAoMbvmS8QeD3ya3BDD1ub2TrHuIDGX2wN4MwC3OC87vfT913/
    Z8mqB+SxiMG/rk0Lgkak0GEkNx5JPj8E2BEaRFejf+fS1SIwrhtt9vW+TyrBT04R
    ubexfQAXbsxDAoIBAB/rbsqVqNo3hibfiwltAOoxAgaTd8DTqYOQIFHu2PQfbHD+
    lxQcaMV/88o31k/OOLfDFilV1PthFJWm8x406rIix2j1e7ZgDYqdTnb1H9FyyApM
    /3tKy9ZzbEBB1YYPCXo92iF2S9bVf1A0IaAKplDyElS+wxHApfHR7JwXottdv9YB
    hK+XY5bXVMcqxMXZJ7bRyjA5Yzo2izWxRYhlU1ocV3aDtj6JRHhDGxxm9bbNMfuV
    upE/QfUERssATDJliPQJJKJTxzpfoC0uEnywBkO8vZc+ix/csBuzjXMvq9AkVG9z
    9TR5/hW7wSAWcxdTsmrUJyrEA6DDoZTx452W2qkCggEBAJGG/84YefMQ24TfCnSt
    giEktls4CxLw1Rflzq5Qu9Qe40oYNZsOcqptxR20JX9NEX1DexqGpj+mVBnrtoJG
    JqtY7ZfuD09bwk8cx3/yQSCNmoLbnGV99VXx57uq0UokSFw3LUw0DSVLxGLN4iTu
    yeQz6cadT6YWxNJQd/ZhAFKk3+HhneBe100g2qorSd22yeCX4uqr3wnx5m+zMgtN
    oppJnFCceDeEj9+DWvv9d/9dR7xdtJkF0wXdnnD5otmeJOVKrE3MN2LTuyuEANsr
    5oUTr1bsz4ylYSo5KI9Dat0FnNNCoDiy26R04/gzIAdnkfEuT8GfyaWBGMgd38BF
    wk0CggEAOI9wuJOjLi8gjut6qZlbO7MwxoeKlGTC6CxWvezqflkQo4pce6YP7nsg
    Wm1TbEyK5jY76WFF8ZBujmEKM7F4lcTFtWKPZlx6qealxAw2lFGLKb777Paxa/Vt
    IBNTnIwTEcBWNTPPHNxWNWvtXn9Sep2H7xObqJvX3PK5Uz58Vy8+0DGnNKiwcgjQ
    hsfPOCgzyOdJKAseieQ+Hw1Fozxdu0IjawlHCVm4l4My9eZKWymqE7QUdHexbJ9n
    k/kNAy/T4xksy0VjcqQQYDXaPKiuLM6m9IYU3UuS7cOn8kEE3xbkSYbdM5d/qNfy
    5ljq5ocMKKQUK+LSsScM0NWzBwBkkA==
    -----END PRIVATE KEY-----

abuseDatabase: # Postgresql database configuration
  driverClass: org.postgresql.Driver
  user: postgres
  password: srh;MG#sV3S;M9!
  url: jdbc:postgresql://127.0.0.1:5432/abusedb

accountsDatabase: # Postgresql database configuration
  driverClass: org.postgresql.Driver
  user: postgres
  password: srh;MG#sV3S;M9!
  url: jdbc:postgresql://127.0.0.1:5432/accountsdb

dataSourceFactory: # Postgresql database configuration
  driverClass: org.postgresql.Driver
  user: postgres
  password: srh;MG#sV3S;M9!
  url: jdbc:postgresql://127.0.0.1:5432/accountsdb

apn: # Apple Push Notifications configuration
  bundleId: com.lxrtalk.seals
  sandbox: true
  pushCertificate: |
    -----BEGIN CERTIFICATE-----
    MIIGDzCCBPegAwIBAgIIdysCpb5PvL0wDQYJKoZIhvcNAQELBQAwgZYxCzAJBgNV
    BAYTAlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMSwwKgYDVQQLDCNBcHBsZSBXb3Js
    ZHdpZGUgRGV2ZWxvcGVyIFJlbGF0aW9uczFEMEIGA1UEAww7QXBwbGUgV29ybGR3
    aWRlIERldmVsb3BlciBSZWxhdGlvbnMgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkw
    HhcNMjEwMzI2MDI1NjEzWhcNMjIwNDI1MDI1NjEyWjCBijEhMB8GCgmSJomT8ixk
    AQEMEWNvbS5seHJ0YWxrLnNlYWxzMS8wLQYDVQQDDCZBcHBsZSBQdXNoIFNlcnZp
    Y2VzOiBjb20ubHhydGFsay5zZWFsczETMBEGA1UECwwKNzdMNjlNRDM4TDESMBAG
    A1UECgwJaGFuZyB6aGFvMQswCQYDVQQGEwJDTjCCASIwDQYJKoZIhvcNAQEBBQAD
    ggEPADCCAQoCggEBAO3x4x/z8aBb8yYfCPIeDIrcr1orXjAhqCzYUzMcXx67qXsX
    5/zYwC1raReOi+L6Pm0gHpLGx6c4HR6fleCT9I0CmcZ5qiPMw3zI9U8g8Hczj76r
    EpvxlSsvJuLQp6gBB+uomP6AW02asfGhWHn/GPsdgHeuz9bm/cCn43UKx7Owi7+u
    6k8JRsWRO0oTst/E2oVq3x6Kk6zdCnRGVHl5awlQ+w0K1CLT7IuoxAA3zarKem4q
    immEYfQJXD/TIqX9FiRwF2DVdRpF8NpcYB3M3m89OKrijFGaoMHsf8EFncL1hUtI
    VD+A873zZX2kU89h+atV/QpOSNwwxNvWxlXEDKkCAwEAAaOCAmkwggJlMAwGA1Ud
    EwEB/wQCMAAwHwYDVR0jBBgwFoAUiCcXCam2GGCL7Ou69kdZxVJUo7cwggEcBgNV
    HSAEggETMIIBDzCCAQsGCSqGSIb3Y2QFATCB/TCBwwYIKwYBBQUHAgIwgbYMgbNS
    ZWxpYW5jZSBvbiB0aGlzIGNlcnRpZmljYXRlIGJ5IGFueSBwYXJ0eSBhc3N1bWVz
    IGFjY2VwdGFuY2Ugb2YgdGhlIHRoZW4gYXBwbGljYWJsZSBzdGFuZGFyZCB0ZXJt
    cyBhbmQgY29uZGl0aW9ucyBvZiB1c2UsIGNlcnRpZmljYXRlIHBvbGljeSBhbmQg
    Y2VydGlmaWNhdGlvbiBwcmFjdGljZSBzdGF0ZW1lbnRzLjA1BggrBgEFBQcCARYp
    aHR0cDovL3d3dy5hcHBsZS5jb20vY2VydGlmaWNhdGVhdXRob3JpdHkwEwYDVR0l
    BAwwCgYIKwYBBQUHAwIwMAYDVR0fBCkwJzAloCOgIYYfaHR0cDovL2NybC5hcHBs
    ZS5jb20vd3dkcmNhLmNybDAdBgNVHQ4EFgQU0KllgndLtcTjinj8NrBxap5YOZIw
    DgYDVR0PAQH/BAQDAgeAMBAGCiqGSIb3Y2QGAwEEAgUAMBAGCiqGSIb3Y2QGAwIE
    AgUAMHoGCiqGSIb3Y2QGAwYEbDBqDBFjb20ubHhydGFsay5zZWFsczAFDANhcHAM
    FmNvbS5seHJ0YWxrLnNlYWxzLnZvaXAwBgwEdm9pcAweY29tLmx4cnRhbGsuc2Vh
    bHMuY29tcGxpY2F0aW9uMA4MDGNvbXBsaWNhdGlvbjANBgkqhkiG9w0BAQsFAAOC
    AQEAOV3wJIK1+PbSb4DWnDDR0uATX750zxGIVnHfwDd8pi6JIoHtj4lEP53KuA/K
    lMcbmwpciiZWlacLpyXi55m87y6b1YMLIMD+xioE7BgbgqOpt0t6NA6VzjQYyM5s
    iq29x9vQ+w7lzmsqo2OyVQbGyK6SWrGLUAjIvsOgeuy6FRFI5P1FsKlwFcdp6Rzp
    bahOCREigV7Px+axg4zsNhgDn/H3B6DMr/HpKv6X5Q0bT880iDiQ1wTj+Jytvelr
    58BdDODgQ27zwJYQBDkkD7nMev1T+teiA8rYCc9Ryj4pLzBcESakkwXjnow54WtK
    x8mCz+W5z2SStU1yIJ/25NP4Ew==
    -----END CERTIFICATE-----
  pushKey: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIEpgIBAAKCAQEA7fHjH/PxoFvzJh8I8h4MityvWiteMCGoLNhTMxxfHrupexfn
    /NjALWtpF46L4vo+bSAeksbHpzgdHp+V4JP0jQKZxnmqI8zDfMj1TyDwdzOPvqsS
    m/GVKy8m4tCnqAEH66iY/oBbTZqx8aFYef8Y+x2Ad67P1ub9wKfjdQrHs7CLv67q
    TwlGxZE7ShOy38TahWrfHoqTrN0KdEZUeXlrCVD7DQrUItPsi6jEADfNqsp6biqK
    aYRh9AlcP9Mipf0WJHAXYNV1GkXw2lxgHczebz04quKMUZqgwex/wQWdwvWFS0hU
    P4DzvfNlfaRTz2H5q1X9Ck5I3DDE29bGVcQMqQIDAQABAoIBAQCuz4rhqsLV4Tfd
    xec4mcL1MfTR9hKYoeGAMN3PKwTm+1AkUwfoxwVJWSQ4Xk1/UAIVAgf0JX4A6ETc
    froJ6Ck+f66iFjhdXM4yGyG+JKEFsiflGKHvV6kTtOyIrmq+DyPWimL8dyic9w3M
    S5FI75VWx/Hd+9xOMh4zMCT3lBfrdlpDzOyk4RP5MpSpTKX13PNGhadfTMkyuXHO
    yZd04ySCIsF4O+rzluun5BMV3cCotco1PcWUBAQObYm+zFf2jhwbk6kheKTmXYpW
    0X9j/3rG8WS5yKrQnX34Dsab1XYrRrv7QA88lxOOsLNgi9YnkYPbtHJIY28y2NNk
    yQC0JmdBAoGBAPq0NLwTs7lZkvwTm+vpYVYAFEvZ22RqQO0Ni+0tdzvuunuq8I8z
    Uu1om9hQ3tLe/Gz2l6J+PZncQ/kLLwoYRBG+HmYZV0wY/kS2xvONAXcpxwrlqghm
    v/QwAG4AlYH5tRV8Sf2DRjOHp8i90/PuD5zK+Y2hYZansSo1H+QlBusdAoGBAPL4
    rk41efVS8ooup9ik1Sqf9eHIpmCKShUQJnls1QZu4DwpRI3NMGVVtjI4Q9N67o40
    urm3SiQ7qZxkkUJfMvk/FNIGjYug/OQoB45v66xQmuOB/GjQwcxg2nztZch0hCLP
    CSwRlgKO38uIHi3MOdKmmKI2zwIuVKcQIvVYtKX9AoGBAMJDp2Vhou9qIIJiM30f
    j8QTNab8/osV5o+J4rZ7d5wiRbCUaemc7JJ4b+Kz76XZEiLhBejtB5DU5HrzlpSs
    7voMpwOYeVPHPihCtXF9/ve2kLy58AKok++EzqBupWtc8lvevnrKITjG0lWz+qxW
    +RQXGD8OIU+bS6YYGkkwA+dlAoGBAO7M86PyczdmmvKtAFKxTsFiDiwnJT7lLAKf
    qPDWwlhcSQ9YEAS+kr5GC5g4LJGB1Uz3Dj7RopESApWvUgVFw7etBC2YOy3swCEO
    Jr8bySnG3zST4RyzcIYK+zKlsM/flK8RhRZHAoTpH5PO6LpiasJa8tEbxUGDf7fi
    6DjzQjmRAoGBAKzlb0/hKPec6bSBMJnAeRiOoJsjK6GikUxCfBOVh+2U1Cn0Axx5
    ji/meHNUpAd+GES7BKZhw6LLqpRsPh4p0Bmr3lgvsS7RKE8nCuj8vNtd6dIK4DRz
    9FNFTJsXTQTiGX+i/Lu2DbDiyx/eI9VfLvabZYXyQxTvo+pFLqA6Qxt1
    -----END RSA PRIVATE KEY-----

gcm: # GCM Configuration
  senderId: 1
  apiKey: 1
accountDatabaseCrawler:
    chunkSize: 1000
    chunkIntervalMs: 80000000

cdn:
    accessKey: AKIAUHWNR6PWT6ZAPWV6
    accessSecret: LO4Yq8Mequl6TrYJlTQC4Kaz7vfz/HR0YpDoePhT
    bucket: signallxrtalk
    region: ap-northeast-1

voiceVerification:
    url: http://127.0.0.1 #fake
    locales: [ "en-US" ]  #fake

recaptcha:
    secret: 6LfFFFFFFAAAAAAKKKKKKEEEEEEgJ7kX-pSL

storageService:
    userAuthenticationTokenSharedSecret: 112233445566 #fake

backupService:
    userAuthenticationTokenSharedSecret: 778899AABBCC #fake

turn:
    secret: turnsecret
    uris:
        - turn:127.0.0.1:3478?transport=udp
pushScheduler:
    url: http://127.0.0.1:6379
    replicaUrls: [ "http://127.0.0.1:6379" ]
pubsub: 
    url: redis://127.0.0.1:6379
    replicaUrls: [ "http://127.0.0.1:6379" ]
remoteConfig:
  authorizedTokens: []
unidentifiedDelivery:
  certificate: CiUIARIhBRPXsbgAzCdKBTHUqU05uFQe99LY2wz03zzDsjfOEf0UEkCiOVNS0Gz14cRQAoVhKScEPpmQvbddWP50g6uy7VZKnaagnxSZMyECNSisEF9XAz/uMwOUkP7tc2sGOE7oMTED
  privateKey:  UMsXVnVox5HSEbhkpgYq5Ez0JCQTnzQkjeqDDqcyWXg=
  expiresDays: 10
zkConfig: 
  serverSecret: ACyAUqsm7WRUIWlWPkizJ6xAq0ZjZmlNCnDo28GGifMMCjbOnPZIGsmd2ICN5EqL1BjqO/O9m0otsbLjz8CehwaovbaTOKnbJPaXoTPWkSDH9yPcOnmvj6xdm4DOiB37MVTut6DL9yHVdg7S/XnR2amQ6WoyGRI+MwPCFspVimwHKd4oYHDrKTjCndhZnKx2oQcgXVp05JtJfsIRBrBRNg8PEr6FAcIRWeCG6quLxIqfcuPf3Bdn1AgvQz5II369BZsU5rVKTnwjF6CZmVN8UO++JqaK9kqO9YLP3zpMLB4AEmnezjJ7kHFNQaVwVRm0p9Rt6q42P7UssjavjQXngQzEEMwqHt+K0EJuQcLP6K2OtCw4Ti/fFOZ1sUDFN7DVC/YNGrlVtwuNGiQSgYK/CduMeLLbPVejvNeS/vATQ9hOfipj8mR94eeS28PCVRXUpSRNMRc0WAjqurHi82XfIX+vw1vBwQ3XEK0uHIOtKzCh9QAMrxYJxHIdMjSV5aXIBL4xDBDGUP55J3FtzBn58jEMd8C2cwgfhfJGhcgXxh0A8Ne44mRVHX1jXSdtDQ2b+LSxyGrErI5hPgfImPpF3zqDNt4ddJU8EOv7W5orrnEOb9jCoKdc0lb5SWGthwXTDldR6IeiVdnCn7vQBFei9icAPMQ6O14c/dzZogRNIVEBBLaucQxAeWLjKBYdmleRWhYH6mOOW7nMD7GKBkwS3QAgQyAAqp2pFLsWv2Tn8WdcfieFCMaY/p1DTrP/x3zUCiC3TbjGXd0fi4/kpdW4C6QxS+HjHIEESCGCbnrdlSQKKoYxNSJtu4/NtctgFzxo7anCcfi/o8w2O+yJy5ghdgeW4lcDbAljgGucmQYyZ7W5zZsuHSbmH3b77p7nXGP/asSFJoOJXAGi8m2iXhVybpQ0AeyOi36an5E6vSOzzdEy4MoLOGYEd9irEB1caHrh5kmxUmmYyq4RC6HWu5wjJQvmQwtYqMd15Mk6wIJ7MDQIBrt4skD5RenrSWI7vfBnLg
  serverPublic: APYNGrlVtwuNGiQSgYK/CduMeLLbPVejvNeS/vATQ9hOfipj8mR94eeS28PCVRXUpSRNMRc0WAjqurHi82XfIX+W4lcDbAljgGucmQYyZ7W5zZsuHSbmH3b77p7nXGP/asSFJoOJXAGi8m2iXhVybpQ0AeyOi36an5E6vSOzzdEy5kMLWKjHdeTJOsCCezA0CAa7eLJA+UXp60liO73wZy4
  enabled: true

